<section class="hero" aria-label="个人网站首页插画">
  <div class="cloud cloud-one"></div>
  <div class="cloud cloud-two"></div>
  <div class="cloud cloud-three"></div>
  <div class="dash-field" aria-hidden="true">
    {Array.from({ length: 24 }).map(() => <span></span>)}
  </div>
  <img class="avatar" src="/assets/hero-avatar.png" alt="" />
</section>
